<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.business.dao.EstManagementDao">

	<!-- 견적서 목록 조회 -->
	<select id="estmanagementlist" resultType="kr.happyjob.study.business.model.EstManagementModel">
		/*kr.happyjob.study.business.dao.EstManagementDao.estmanagementlist*/
		select con.contract_no
		      ,con.order_cd
		      ,ui.loginID
		      ,cl.client_name
		      ,con.contract_date
		      ,pd.product_name
		      ,con.tax
		      ,con.price
		      ,con.amt_price <!-- 공급가액 -->
		      ,con.lcategory_cd
		      ,con.mcategory_cd
		      ,pd.product_no
		      ,con.product_amt <!-- 제품수량 -->
		      ,con.total_price
		from tb_contract con
			inner join tb_client cl on cl.client_no = con.client_no 
			inner join tb_userinfo ui on ui.loginID = con.loginID
			inner join tb_product pd on pd.product_no = con.product_no
		<where>
			  con.contract_type = '1'    
              <if test="(clientNameSearch != null) and (!clientNameSearch.equals(''))">
                   and cl.client_name Like CONCAT('%', #{clientNameSearch}, '%')
              </if>          
              <if test="(consdate != null) and (!consdate.equals(''))">
                  and con.contract_date  <![CDATA[>=]]> #{consdate}
              </if>               
              <if test="(conedate != null) and (!conedate.equals(''))">
                 and con.contract_date <![CDATA[<=]]> #{conedate}
              </if>  
         </where> 	
		ORDER BY con.contract_no DESC
		LIMIT #{pageindex}, #{pageSize}
	</select>
	
	<!-- 견적서 목록 총 갯수 조회 -->
	<select id="cntestmanagementlist" resultType="int">
		/*kr.happyjob.study.business.dao.EstManagementDao.cntestmanagementlist*/
		select count(*) as tot_cnt
		from tb_contract con
			inner join tb_client cl on cl.client_no = con.client_no 
		<where> 
			  con.contract_type = '1'    
              <if test="(clientNameSearch != null) and (!clientNameSearch.equals(''))">
                   and cl.client_name Like CONCAT('%', #{clientNameSearch}, '%')
              </if>          
              <if test="(consdate != null) and (!consdate.equals(''))">
                  and con.contract_date  <![CDATA[>=]]> #{consdate}
              </if>               
              <if test="(conedate != null) and (!conedate.equals(''))">
                 and con.contract_date <![CDATA[<=]]> #{conedate}
              </if>  
         </where> 	
	</select>
	
	<!-- 견적서 상세조회 -->
	<select id="estdetail" resultType="kr.happyjob.study.business.model.EstManagementModel">
		select con.contract_no
		   	  ,con.order_cd
		      ,cl.client_name as clnm
			  ,cl.permit_no as clno
			  ,cl.manager_name as clmnm
			  ,cl.addr as claddr
  			  ,cl.det_addr as cldaddr
  			  ,cl.manager_hp as clmhp
              ,com.client_name as cnm
			  ,com.permit_no as cno
			  ,com.manager_name as cmnm
			  ,com.addr as caddr
  			  ,com.det_addr as cdaddr
  			  ,com.manager_hp as cmhp
  			  ,con.contract_date
  			  ,con.total_price
  			  ,pd.product_name
  			  ,con.amt_price
  			  ,con.tax
  			  ,con.price
  			  ,con.product_amt
		from tb_contract con
			inner join tb_client cl on cl.client_no = con.client_no 
            inner join tb_client com on com.client_no = 1
			inner join tb_userinfo ui on ui.loginID = con.loginID
			inner join tb_product pd on pd.product_no = con.product_no
		where con.contract_no = #{contract_no}
	</select>
	
	<!-- 제품 선택시 값 저장용 -->
	<select id="savechange" resultType="kr.happyjob.study.business.model.EstManagementModel">
		select price
			  ,stock
		from tb_product
		where product_no = #{product_no}
	</select>
	
	<!-- 견적서 저장 -->
	<insert id="estsave">
		 <selectKey resultType="int" keyProperty="contract_no" order="BEFORE">
		    select ifnull(max(contract_no),0) + 1 from tb_contract
		 </selectKey> 
		insert into tb_contract
		           (
		              contract_no
		             ,order_cd
		             ,estimate_cd
		             ,loginID
		             ,client_no
		             ,product_no
		             ,lcategory_cd
		             ,mcategory_cd
		             ,contract_date
		             ,product_amt
		             ,tax
		             ,price
		             ,amt_price
		             ,total_price
		             ,contract_type
		             ,state
		            ) values (
		                      #{contract_no}
		                     ,'O_0'
		                     ,CONCAT(#{client_no} ,'-' ,DATE_FORMAT(now(), '%Y-%m-%d'))
		                     ,#{loginId}
		                     ,#{client_no}
		                     ,#{product_no}
		                     ,#{lcategory_cd}
		                     ,#{mcategory_cd}
		                     ,DATE_FORMAT(now(), '%Y-%m-%d')
		                     ,#{product_amt} <!-- 제품수량 -->
		                     ,(#{price}*#{product_amt})*0.1 <!-- (단가 *수량)의 10% = 부가세 -->
		                     ,#{price}<!-- 제품단가 -->
		                     ,#{price}*#{product_amt} <!-- 공급가액 = 수량*단가 -->
		                     ,#{price}*#{product_amt}+((#{price}*#{product_amt})*0.1)    <!-- 총금액 = 공급가액 + 부가세 -->
		                     ,'1'
		                     ,'N'
		                    )

	</insert>
	
	
	<delete id="estdelete">
      delete from tb_contract
       where contract_no = #{contract_no}
	</delete>
	
	
</mapper>